.main-color {
background-color: #000000 ;
}

.header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("./Images/PublicImages/image-1.jpg");
    background-size:cover;
    height: 25em !important;
}

.homepage-carousel-title {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
