.main-color {
background-color: #000000 ;
}

.header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("./Images/PublicImages/image-1.jpg");
    background-size:cover;
    height: 25em !important;
}

.homepage-carousel-title {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

.col-image-left {
    background-image: url("./Images/PublicImages/image-2.jpg");
    background-size:cover;
    background-position: center center;
    height: 25em !important;
}

.col-image-right {
    background-image: url("./Images/PublicImages/image-3.jpg");
    background-size:cover;
    background-position: center center;
    height: 25em !important;
}

.lost-image {
    background-image: url("./Images/PublicImages/image-4.jpg");
    background-size:cover;
    background-position: center center;
    height: 25em !important;
}